<ion-modal-view>
    <link rel="stylesheet" type="text/css" href="css/viewvideo.css">

<ion-nav-bar>
<ion-nav-buttons side="right"><button class="button button-icon ion-share" ng-click="showPopupShare()"></button></ion-nav-buttons>
<ion-nav-buttons side="secondary"><button class="button button-icon ion-ios-bookmarks-outline"></button></ion-nav-buttons>
<ion-nav-buttons side="left"><button class="button button-icon  ion-android-arrow-back" ng-click="hideViewVideo()"></button></ion-nav-buttons>
</ion-nav-bar>
<ion-content class = "view-video">
<div class="viewvideo">
	<video src="video/video01.mp4" controls="controls" width="100%" height="auto"></video>
</div>
</ion-content>
</ion-modal-view>