<ion-modal-view>
<link rel="stylesheet" type="text/css" href="css/viewphoto.css">
<ion-nav-bar>
<ion-nav-buttons side="right"><button class="button button-icon ion-share" ng-click="showPopupShare()"></button></ion-nav-buttons>
<ion-nav-buttons side="secondary"><button class="button button-icon ion-ios-bookmarks-outline"></button></ion-nav-buttons>
<ion-nav-buttons side="left"><button class="button button-icon  ion-android-arrow-back" ng-click="hideViewPhoto()"></button></ion-nav-buttons>

</ion-nav-bar>
<ion-content class= "view-photo" >
		<div class="viewphoto">
		<div>
		<img src="img/photo1.jpg">
		</div>
		<div class="caption">
			<h4>Lorem Ipsum</h4>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
			<span>Taydotech-NonCopy</span>
		</div>
		</div>
</ion-content>
</ion-modal-view>