
<div class="post-video post" ng-repeat="x in maxVideo" ng-if="x.format=='video'">
    <div class="img-video">
        <div class="button-play">
            <a ng-href="#app/details/{{x.id}}">
                <button class="button-icon"><i class="icon-play"></i></button>
            </a>
        </div>
        <div ng-if="x.mobiconnector_feature_image.mobiconnector_large!=null">
            <a ng-href="#app/details/{{x.id}}">
                <img ng-src={{x.mobiconnector_feature_image.mobiconnector_large}}>
            </a>
        </div>
        <div ng-if="x.mobiconnector_feature_image.mobiconnector_large==null">
            <a ng-href="#app/details/{{x.id}}">
                <img ng-src="img/no_images.png">
            </a>
        </div>
    </div>
    <div class="title"><a ng-href="#app/details/{{x.id}}"><h4 ng-bind-html="x.title.rendered"></h4></a></div>
    </a>
</div>
<div class="post-video post" ng-repeat="x in topVideo" ng-if="x">
    <div class="img-video">
        <div class="button-play">
            <a ng-href="#app/details/{{x.id}}">
                <button class="button-icon"><i class="icon-play"></i></button>
            </a>
        </div>
        <div ng-if="x.mobiconnector_feature_image.mobiconnector_large!=null">
            <a ng-href="#app/details/{{x.id}}">
                <img ng-src={{x.mobiconnector_feature_image.mobiconnector_large}}>
            </a>
        </div>
        <div ng-if="x.mobiconnector_feature_image.mobiconnector_large==null">
            <a ng-href="#app/details/{{x.id}}">
                <img ng-src="img/no_images.png">
            </a>
        </div>
    </div>
    <div class="title"><a ng-href="#app/details/{{x.id}}"><h4 ng-bind-html="x.title.rendered"></h4></a></div>
    </a>
</div>
<ion-infinite-scroll ng-if="!over" on-infinite="loadMore()">
</ion-infinite-scroll>
