<div class="share">
	<div class="row">
		<div class="share-item col">
			<img src="img/share/Bluetooth.png">
		</div>
		<div class="col share-item">
			<img src="img/share/Email.png">
		</div>
		<div class="col share-item">
			<a href="https://www.facebook.com"><img src="img/share/Facebook.png"></a>
		</div>
	</div>
<div class="row">
		<div class="share-item col">
			<a href="https://plus.google.com/"><img src="img/share/Google+.png"></a>
		</div>
		<div class="col share-item">
			<img src="img/share/Messages.png">
		</div>
		<div class="col share-item">
			<img src="img/share/Messenger.png">
		</div>
	</div>
	<div class="row">
		<div class="share-item col">
			<img src="img/share/Zalo.png">
		</div>
		<div class="col share-item">
			<img src="img/Share/Skype.png">
		</div>
		<div class="col share-item">
			<img src="img/share/Whatapp.png">
		</div>
	</div>
</div>